In [ ]:
#Libraries that we would be needing
import streamlit as st
import pandas as pd
import datetime
import plotly.express as px
from PIL import Image
import plotly.graph_objects as go

In [ ]:
#Data Reading
df = pd.read_excel(r"E:\Adidas Project\Project\Adidas.xlsx")
df.head(5) #Printing the first 5 rows of the data

,Retailer,RetailerID,InvoiceDate,Region,State,City,Product,PriceperUnit,UnitsSold,TotalSales,OperatingProfit,OperatingMargin,SalesMethod
0,Foot Locker,1185732,2020-02-03,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35,Outlet
1,Foot Locker,1185732,2020-02-04,Northeast,New York,New York,Men's Apparel,60.0,825,495000.0,148500.0,0.30,Outlet
2,Foot Locker,1185732,2020-02-05,Northeast,New York,New York,Women's Apparel,50.0,950,475000.0,118750.0,0.25,Outlet
3,Foot Locker,1185732,2020-02-06,Northeast,New York,New York,Men's Street Footwear,60.0,1220,732000.0,366000.0,0.50,Outlet
4,Foot Locker,1185732,2020-02-07,Northeast,New York,New York,Men's Athletic Footwear,55.0,925,508750.0,152625.0,0.30,Outlet

In [9]:
st.set_page_config(layout="wide")
st.markdown('<style>div.block-container{padding-top:1rem;}</style>', unsafe_allow_html=True)

2025-04-03 19:16:02.075 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-03 19:16:02.077 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-03 19:16:02.859
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\HP\AppData\Roaming\Python\Python313\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-04-03 19:16:02.861 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [1]:
aTuple = "Yellow", 20, "Red"
a,b,c = aTuple
print(a)

Yellow

In [1]:
sameple_dict = dict([
    ("first", 1),
    ("second", 2),
    ("third", 3)
])
print(sameple_dict)

{'first': 1, 'second': 2, 'third': 3}